*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.pdf
*.run.xml
*.snm
*.synctex.gz
*.toc
auto/
figures/*.dat
figures/degraded_*.jpg
figures/filtered_*.jpg
figures/*-inc.eps
figures/*.tex
